html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	color: black;
}
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:active {
	border: none;
}





#conteneur
{
	width: 1663px;
	height: 1547px;
	margin: auto;
}


#header
{
	height: 113px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 363px;
	padding-right: 360px;
	margin-bottom: 10px;
	background-image: url("misc/grille.png");
}
#header img
{
	float: left;
}
#conteneur_liste_header-1
{
	float: right;
}
#conteneur_liste_header-1 h2
{
	margin-bottom: 10px;
}
#conteneur_liste_header-1 h2 a 		/* TITRE H2 HEADER */
{
	display: block;
	height: 26px;
}
#conteneur_liste_header-1 li
{
	margin-top: 10px;
	font-size: 11px;
}
#conteneur_liste_header-1 ul a
{
	display: block;
}
#conteneur_liste_header-1 a
{
	padding-left: 5px;
}
#conteneur_liste_header-hotels, #conteneur_liste_header-restaurants, #conteneur_liste_header-services, #conteneur_liste_header-activites, #conteneur_liste_header-plus
{
	float: left;
	height: 100%;
}
#conteneur_liste_header-hotels
{
	width: 100px;
	margin-right: 25px;
}
#conteneur_liste_header-restaurants
{
	width: 120px;
	margin-right: 25px;
}
#conteneur_liste_header-services
{
	width: 92px;
	margin-right: 25px;
}
#conteneur_liste_header-activites
{
	width: 97px;
	margin-right: 25px;
}
#conteneur_liste_header-plus
{
	width: 113px;
}
#header_h2-hotels
{
	border-bottom: 5px solid #F76900;
}
#header_h2-restaurants
{
	border-bottom: 5px solid #FCD04A;
}
#header_h2-services
{
	border-bottom: 5px solid #B9D482;
}
#header_h2-activites
{
	border-bottom: 5px solid #3D92C2;
}
#header_h2-plus
{
	border-bottom: 5px solid #C078D0;
}


#presentation-video
{
	height: 426px;
	padding-top: 30px;
	margin-bottom: 10px;
	border-top: 1px solid rgb(240,240,240);
	border-bottom: 1px solid rgb(240,240,240);
}
#presentation-video iframe
{
	display: block;
	margin: auto;
}


#presentation-h1
{
	height: 88px;
	margin-bottom: 10px;
	background-image: url("misc/grille.png");
}
#presentation-h1 h1
{
	line-height: 88px;
	text-align: center;
	font-style: italic;
	font-size: 20px;
}


#presentation-activites
{
	height: 434px;
	padding-top: 30px;
	padding-left: 362px;
	padding-right: 362px;
	margin-bottom: 10px;
	border-top: 1px solid rgb(240,240,240);
	border-bottom: 1px solid rgb(240,240,240);
}
#presentation-activites h2
{
	font-size: 18px;
	color: #E77927;
	margin-bottom: 8px;
}
#presentation-activites a
{
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 14px;
	color: #A1A1A1;
}
.activites-legende
{
	font-size: 10px;
	font-style: italic;
	font-family: serif;
	color: rgb(168,168,168);
	margin-bottom: 10px;
}
.activites-description
{
	font-family: 'Times New Roman', Times, serif;
	font-size: 13px;
	margin-bottom: 10px;
	color: rgb(126,122,122);
}
#activites-golf
{
	width: 200px;
	height: 328px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	float: left;
	border: 1px solid #F0F0F0;
}
#activites-golf img
{
	margin-bottom: 10px;
}
#activites_part2
{
	width: 200px;
	float: left;
	padding-top: 20px; 
	margin-left: 24px; 
}
#activites-accrobranche
{
	width: 200px;
	margin-bottom: 41px;
	float: left;
}
#activites-fastfoods
{
	width: 200px;
	float: left;
}
#activites_part3
{
	width: 427px;
	height: 344px;
	padding-top: 20px;
	margin-left: 45px;
	float: left;
}
#activites-commentaires
{
	float: left;
}
#activites-commentaires a
{
	float: left;
	margin-bottom: 25px;
}
#activites-photos-conteneur
{
	float: left;
	height: 202px;
}
#activites-photos img
{
	padding: 7px;
	float: left;
	border: 1px solid #F0F0F0;
}
#activites-photo-1
{
	margin-right: 10px;
	margin-bottom: 12px;
}
#activites-photo-2
{
	margin-right: 10px;
	margin-bottom: 12px;
}
#activites-photo-3
{
	margin-bottom: 12px;
}
#activites-photo-4
{
	margin-right: 10px;
}
#activites-photo-5
{
	margin-right: 10px;
}


#presentation-infos
{
	height: 188px;
	padding-top: 33px;
	margin-bottom: 10px;
	background-image: url("misc/grille.png");
	margin-bottom: 10px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 13px;
}
#presentation-infos-bloc1
{
	width: 914px;
	height: 157px;
	margin: auto;
}
#presentation-infos h2
{
	margin-bottom: 12px;
	color: rgb(164,164,164);
}
#presentation-infos strong
{
	color: rgb(124,124,124);
	font-weight: bold;
}
.presentation-infos-blocs2
{
	width: 195px;
	height: 155px;
	margin-right: 42px;
	float: left;
}
#presentation-infos-bloc-last
{
	width: 195px;
	height: 155px;
	float: left;
}
#presentation-liste
{
	height: 127px;
	margin-top: 25px;
}
#presentation-liste li
{
	font-family: "Times New Roman",Times,serif;
	margin-bottom: 16px;
}
#presentation-liste img
{
	float: left;
}
.presentation_liste_emails
{
	text-decoration: underline;
}
.presentation-legende
{
	font-size: 10px;
	font-style: italic;
	font-family: serif;
	color: rgb(168,168,168);
	margin-bottom: 3px;
}
.presentation-description
{
	color: rgb(126,122,122);
	font-family: 'Times New Roman', Times, serif;
	font-size: 13px;
	margin-bottom: 10px;
}
.liens_commentaires
{
	color: #7A8282;
	text-decoration: underline;
	font-style: italic;
}


#footer
{
	height: 61px;
	padding-top: 20px;
	padding-left: 370px;
	padding-right: 370px;
	border-top: 1px solid rgb(240,240,240);
	font-size: 11px;
	font-family: "Times New Roman",Times,serif;
}
#contenu_texte_footer
{
	float: left;

}
#contenu_texte_footer ul
{
	width: 225px;
	height: 15px;
}
.liste_footer_elements
{
	display: inline;
	float: left;
	padding-right: 11px;
	margin-right: 5px;
	border-right: 1px solid black;
}
#liste_footer_dernier_element
{
	float: left;
	display: inline;
	border-right: none;
}
#contenu_img_footer
{
	float: right;
}
#contenu_img_footer img
{
	margin-left: 2px;
}



li {
	list-style-type: none;
}
p {
	line-height: 1.5em;
}
h1, p, a {
	font-family: "Times New Roman",Times,serif;
}
h2, h2 a {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
li {
	font-family: monospace;
}
h1,h2, li, a, p {
	color: rgb(124,124,124);
}